// node_modules
@import '~angular-bootstrap-md/scss/core/colors';

.page-wrapper {
    width: 100vw;
    height: 100vh;
    background: $stylish-color;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fa {
    left: 0;
}
