<div class="container-fluid page-wrapper d-flex align-items-center">
    <div class="row justify-content-center w-100">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <!-- Material form login -->
            <mdb-card>
                <mdb-card-header class="info-color white-text text-center py-4">
                    <h5><strong>Sign in</strong></h5>
                </mdb-card-header>

                <!-- Card content -->
                <mdb-card-body class="px-lg-5 pt-0">
                    <div *ngIf="!loginForm.valid && submitted" class="col-12">
                        <h5 class="text-danger text-center">
                            Invalid login credentials
                        </h5>
                    </div>

                    <!-- Form -->
                    <form
                        class="text-center"
                        style="color: #757575;"
                        [formGroup]="loginForm"
                        (ngSubmit)="onSubmit()"
                    >
                        <!-- Username -->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input
                                type="text"
                                id="username"
                                class="form-control"
                                mdbInputDirective
                                formControlName="username"
                                data-error="You must provide a username"
                                data-success=" "
                            />
                            <label for="username">Username</label>
                        </div>

                        <!-- Password -->
                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input
                                type="password"
                                id="materialLoginFormPassword"
                                class="form-control"
                                mdbInputDirective
                                formControlName="password"
                                data-error="Length must be at least 6"
                                data-success=" "
                            />
                            <label for="materialLoginFormPassword"
                                >Password</label
                            >
                        </div>

                        <div class="d-flex justify-content-around">
                            <div>
                                <!-- Remember me -->
                                <mdb-checkbox
                                    [default]="true"
                                    [checked]="true"
                                    formControlName="remember"
                                    >Remember me</mdb-checkbox
                                >
                            </div>
                        </div>

                        <!-- Sign in button -->
                        <button
                            mdbBtn
                            color="info"
                            outline="true"
                            rounded="true"
                            block="true"
                            class="my-4 waves-effect z-depth-0"
                            mdbWavesEffect
                            type="submit"
                            [disabled]="!loginForm.valid || submitted"
                        >
                            <!-- show spinner icon when form is submitted -->
                            <span
                                *ngIf="submitted"
                                class="position-absolute"
                                class="pr-2"
                            >
                                <fa-icon
                                    [icon]="faSync"
                                    [spin]="true"
                                ></fa-icon>
                            </span>
                            {{ submitted ? 'SIGNING IN...' : 'SIGN IN' }}
                        </button>

                        <!-- Register -->
                        <p>
                            Not a member?
                            <a class="disabled" style="cursor: no-drop"
                                >Register</a
                            >
                        </p>

                        <!-- Social login -->
                        <p>or sign in with:</p>
                        <a type="button" class="btn-floating btn-fb btn-sm">
                            <mdb-icon icon="facebook"></mdb-icon>
                        </a>
                        <a type="button" class="btn-floating btn-tw btn-sm">
                            <mdb-icon icon="twitter"></mdb-icon>
                        </a>
                        <a type="button" class="btn-floating btn-li btn-sm">
                            <mdb-icon icon="linkedin"></mdb-icon>
                        </a>
                        <a type="button" class="btn-floating btn-git btn-sm">
                            <mdb-icon icon="github"></mdb-icon>
                        </a>
                    </form>
                    <!-- Form -->
                </mdb-card-body>
            </mdb-card>
            <!-- Material form login -->
        </div>
    </div>
</div>
